################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/dogma/v15
/compiler/bin/Debug/netcoreapp2.1
/compiler/obj
/tests/bin/Debug/netcoreapp2.1
/tests/obj
